.checkbox-shift {
  display: none;
}

.checkbox-container {
  max-width: 220px;
  width: 100%;
  padding: 0 20px;
}

.label__checkbox {
  display: flex;
  flex-direction: row;
}

.custom-checkbox {
  position: relative;
  margin: 3px 0 0 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #5264ae;
  border-radius: 2px;
}

#dark .custom-checkbox {
  border: 1px solid #f4e79e;
}
.custom-checkbox::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #5264ae;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
  border-radius: 1px;
}
#dark .custom-checkbox::after {
  background-color: #f4e79e;
}
.checkbox-shift:checked + label .custom-checkbox::after {
  opacity: 1;
}
