#dark input {
  background-color: #2a3035;
  border: 1px solid #d1eaff;
  color: #f4e79e;
}

.input-container {
  max-width: 220px;
  margin: 0 10px;
}

input {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #848484;
  border-radius: 4px;
  max-width: 180px;
  width: 100%;
  padding: 4px 8px;
  font-family: 'Poppins', 'Arimo';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
  color: #3e3b3b;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}
input[type="date"] {
 width: 180px;
 height: 34px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-color: #f4e79e;
  padding: 5px 8px ;
}

/* LABEL ======================================= */
label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', 'Arimo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.label__checkbox {
  pointer-events: all;
  cursor: pointer;
  position: relative;
}
