.container-parameters-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-parameters-modal__svg-btn {
  width: 24px;
  position: absolute;
  right: 12px;
  top: -4px;
  cursor: pointer;
}
