.container-parameters-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 400px;
}
.container-parameters-modal__svg-btn {
  width: 24px;
  position: absolute;
  right: 12px;
  top: -4px;
  cursor: pointer;
}

.container-parameters-modal__svg-btn:hover {
  opacity: 0.7;
}