.header {
  max-width: 1280px;
  width: 100%;
  margin: 38px auto 0;
  position: relative;
}
.header-theme-container {
  position: absolute;
  right: 20px;
  top: -50px;
}
.header-language-container {
  position: absolute;
  left: 20px;
  top: -30px;
}
.select.size {
  width: 60px;
  padding: 2px 4px;
}

.header-title {
  font-family: 'Montserrat', 'Arimo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.header-subtitle {
  font-family: 'Poppins', 'Arimo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  max-width: 860px;
  padding: 16px 12px;
  margin: 24px auto;
}

.header-navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link {
  color: black;
  font-family: 'Poppins', 'Arimo', sans-serif;
}
.link.active {
  color: black;
  border-bottom: 4px solid #62b1db;
}
#dark .link {
  color: #d1eaff;
}
#dark .link.active {
  color: #d1eaff;
  border-bottom: 4px solid #f4e79e;
}
