.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1280px;
  width: 100%;
  margin: 80px auto 0;
  padding: 5px;
}
.container-options {
  max-width: 480px;
}

.container-parameters-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.checkboxes-container {
  display: flex;
  justify-content: space-evenly;
}
.container-income {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container-income-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}
.contaner-doughnut {
  padding-top: 100px;
}

.options-subtitle {
  font-family: 'Montserrat', 'Arimo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 40px 0;
  text-align: center;
}
@media (max-width: 1080px) {
  .container {
    flex-wrap: wrap;
    margin: 40px auto;
  }
  .contaner-doughnut {
    margin-top: 40px;
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
  }
  .header-subtitle {
    margin: 10px auto;
    padding: 4px 12px;
  }
}

@media (max-width: 590px) {
  .contaner-doughnut {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .contaner-doughnut {
    margin-top: 10px;
  }
}
